body {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
}
#b1 {
    border: 20px solid red;
    background-color: #cccc99;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;
}
#b2 {
    border: 30px solid blue;
    background-color: #ffcc99;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;
}
#b3 {
    border: 10px solid #ff00ff;
    background-color: #ffff99;
    text-align: center;
    text-align: justify;
    padding: 2%;
    margin-bottom: 5%;
}
#b4 {
    border: 5px solid blue;
    background-color: aqua;
    text-align: center;
    text-align: justify;
    padding: 2%;
    margin-bottom: 5%;
}